<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Caesar Encription</title>

    <link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
    <script src="/jquery.datetimepicker.js"></script>
  </head>
  <body class="bg-light">
    <div class="container pt-4">


      <!-- Title-->
      <h1 class="display-4 text-center my-5 text-muted">Caesar Encription</h1>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      <!-- /Title-->
          <div class="container pt-4">

      <!-- form start -->
      <form action="{{ url_for('encrypted') }}" method = "POST">

      <!-- Step 1 -->
      <h1 class="display-6 text-center my-5 text-muted">Type any texts you want in alphabet to encript and choose a random number (1~8)</h1>
      <div class="text-center">
      <input type="text" name="text" class="w-50"><br><br>
      <input type="radio" name="delta" value="1">１
      <input type="radio" name="delta" value="2">２
      <input type="radio" name="delta" value="3">３
      <input type="radio" name="delta" value="4">４
      <input type="radio" name="delta" value="5">５
      <input type="radio" name="delta" value="6">６
      <input type="radio" name="delta" value="7">７
      <input type="radio" name="delta" value="8">８
      </div>
      <!-- /Step 1 -->

      <!-- Create -->
      <h2 class="display-3 text-center my-5 text-muted">
        <input name="u1" type="submit" value="Encript" class="btn btn-outline-primary" />
      </h2>
      </form>
      <!-- /Create Event -->


      <!-- signup form -->
      <hr>
      <div class="row py-4 text-muted">
        <div class="col-md col-xl-5">
          <p><strong>About Caesar Encription</strong></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="col-md col-xl-5 ml-auto">
          <p><strong>Stay up-to-date</strong></p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">Sign up</button>
            </span>
          </div>
        </div>
      </div>
      <hr><!-- /signup form -->

    </div> <!-- /.container -->



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
